.container {
    text-align: center;
    padding: 3rem;
}

.payBtn {
    background-color: #0072bb;
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
}

.payBtn:hover {
    background-color: #005fa3;
}