.wrapper {
    position: relative;
    width: 100%;
    max-width: 1100px;
    height: 650px;
    margin: 0 auto;
}

.nucleus {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    cursor: pointer;
    z-index: 10;
    box-shadow: 0 0 60px rgba(82, 183, 136, 0.35);
}

.orbitRing {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 1px solid rgba(82, 183, 136, 0.2);
    transform: translate(-50%, -50%);
    animation: rotateRing 40s linear infinite;
}

@keyframes rotateRing {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.electron {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    backdrop-filter: blur(6px);
    background: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.floating {
    animation: float 6s ease-in-out infinite;
}

/* @keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
} */

/* Mobile Layout */
@media (max-width: 768px) {
    .wrapper {
        height: 550px;
    }
}