/* Navbar.module.css */

.navbar {
    position: fixed;
    background-color: rgb(242, 246, 249);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.258);
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    transition: background-color 0.2s ease;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.75rem 0.1rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

/* Logo Section */
.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: rgb(242, 246, 249);
}

.logoIcon {
    width: 28px;
    height: 28px;
    color: #2d5016;
}

.logoText {
    font-size: 1.25rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #2d5016;
    letter-spacing: 1px;
}


.menu {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 2rem;
    font-weight: 500;
    color: #2d5016;
}

.menu a {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s ease;
}

.menu a:hover {
    color: #2d5016;
}


.icons {
    display: flex;
    align-items: center;
    gap: 1rem;

}

.icon {
    width: 20px;
    height: 20px;
    color: #2d5016;
    cursor: pointer;
    transition: color 0.2s ease;
}

.icon:hover {
    color: #434342;
}

/* -------- Buttons -------- */

.logout {
    border: none;
    border-radius: 8px;
    padding: 0.65rem 1.4rem;
    font-weight: 500;
    font-size: 0.95rem;
    cursor: pointer;
    transition: all 0.25s ease;
    white-space: nowrap;
}



.logout {
    background: #1cb97f;
    color: #e9f4ee;

}

.logout:hover {
    background: #14875d;
    color: #e9f4ee;
}